API_SECRET_KEY =
LASTFM_API_KEY =
CLIENT_ID = 
CLIENT_SECRET = 

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=musify
MYSQL_USER=musifyuser
MYSQL_PASSWORD=

DB_ENGINE=mysql
DB_HOST=database # This must match the name of the database service in your docker-compose.yml file
DB_PORT=3306
DB_CHARSET=utf8mb4